
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="w3l-contact-10 py-5" id="contact">
        <div class="form-41-mian pt-md-5 pt-3">
            <div class="container">
                <div class="row contacts-5-grid-main mb-5">
                    <div class="col-lg-6 contacts-5-grid pe-lg-5">
                        <h5 class="title-subw3hny">Contact our team</h5>
                        <h3 class="title-w3l mb-3">Get in touch with us</h3>
                        <p>Poultry Form Services.</p>
                        <h4 class="title-w3l-adinf mt-4">Address Info</h4>
                        <div class="address-grid d-flex">
                            <i class="fas fa-map-marker-alt mt-2"></i>
                            <p>Ahemdabad City, Sector- 1060,India</p>
                        </div>
                        <h4 class="title-w3l-adinf mt-4">Support Center 24/7</h4>
                        <div class="address-grid d-flex">
                            <i class="fas fa-headset mt-2"></i>
                            <p><a href="#" class="link1">+91 9638527418</a></p>
                        </div>
                        <div class="address-grid d-flex">
                            <i class="fas fa-envelope"></i>
                            <p class="mt-0"><a href="#" class="link1">poltryservices@gmail.com.com</a></p>

                        </div>
                    </div>

                    <div class="col-lg-6 form-inner-cont mt-lg-0 mt-4">
                        <form action=" " method="post" class="signin-form">
                            <div class="form-grids">
                                <div class="form-input">
                                    <input type="text" name="w3lName" id="w3lName" placeholder="Enter your name *" required="" />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Enter subject " required />
                                </div>
                                <div class="form-input">
                                    <input type="email" name="w3lSender" id="w3lSender" placeholder="Enter your email *" required />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Enter your Phone Number *" required />
                                </div>
                            </div>
                            <div class="form-input">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your query here" required=""></textarea>
                            </div>
                            <div class="w3-submit text-right">
                                <button class="btn btn-style btn-primary">Send Message <i class="fas fa-paper-plane ms-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //contacts-5-grid -->
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</center>

