
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Welcome To Our Poultry Farm</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

