
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-features w3l-services-page py-5" id="work">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="title-subw3hny mb-1">Our Services</h6>
                <h3 class="title-w3l">What We Offer</h3>
            </div>
            <div class="main-cont-wthree-2">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-egg"></i>
                            </div>
                            <div class="icon-info text-left">
                                <h4><a href="#service" class="title-head mt-0">Alternative egg</a></h4>
                                <p class="text-para"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-warehouse"></i>
                            </div>
                            <div class="icon-info text-left">
                                <h4>
                                    <a href="#service" class="title-head mt-0">
                                        Poultry Cages
                                    </a>
                                </h4>
                                <p class="text-para"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-kiwi-bird"></i>
                            </div>
                            <div class="icon-info text-left">
                                <h4><a href="#service" class="title-head mt-0">Breeder Management</a></h4>
                                <p class="text-para"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-feather"></i>
                            </div>
                            <div class="icon-info text-left">
                                <h4><a href="#service" class="title-head mt-0">Poultry Climate</a></h4>
                                <p class="text-para"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-sign-language"></i>
                            </div>
                            <div class="icon-info text-left">
                                <h4>
                                    <a href="#service" class="title-head mt-0">
                                        Residue Teatment
                                    </a>
                                </h4>
                                <p class="text-para"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                        <div class="grids-1 box-wrap">
                            <div class="icon">
                                <i class="fas fa-fan"></i>
                            </div>
                            <div class="icon-info text-left">
                                <h4>
                                    <a href="#service" class="title-head mt-0">
                                        Exhaust air Treatment
                                    </a>
                                </h4>
                                <p class="text-para"> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

